<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just One Villain!</title>
</head>
<body>
  <h1>One Villain! More than enough mwah haha</h1>

  <h2>Movie: <%= villain.movie %></h2>
  <h2>Villain: <%= villain.villain %></h2>
</body>
</html>
