<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All the Villains</title>
</head>
<body>
  <h1>All the Villains</h1>

  <% for (const villain of villains) { %>
    <div>
      <h2>Movie: <%= villain.movie %></h2>
      <h2>Villain: <%= villain.villain %></h2>
    </div>
  <% } %>
</body>
</html>