<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic!</title>
</head>
<body>
  <h1>Hello there <%= username %>!<h1>
  <h2>You've been a member since <%= joinDate %></h2>

  <h2>Songs I Adore</h2>
  
  <% for (const song of songs) { %>
    <p>Song title:</p>
    <p><%= song %></p>
  <% } %>
</body>
</html>
